<!DOCTYPE html>
<html>
<head>
  <title>ItemBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <div class="header-left">
        <div class="user_info">
          <%= link_to("#{@current_user.name}", "/users/#{@current_user.id}") %>
        </div>
      </div>
      <div class="header-right">
        <ul>
          <li class="btn">Home</li>
          <li class="btn">About</li>
          <li class="btn">
            <%= link_to("Things", "/things/index") %>
          </li>
          <li class="btn">
            <%= link_to("Login", "/users/login") %>
          </li>
        </ul>
      </div>
    </div>
  </header>
<%= yield %>

</body>
</html>
